<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <h2>Single User List</h2>
        <nav>
          <a href="/users">Go to All Users</a>
        </nav>
      </div>
    </header>
    <div class="container text-center">
      <h3 class="user-name"><%= user.name %></h3>
      <p class="user-name"><%= user.email %></p>
      <p class="user-name"><%= user.age %></p>
      <a href="/users/<%= user.id %>/edit">
        <button>Edit</button>
      </a>
    </div>
  </body>
</html>
